{% extends 'layout.twig' %}

{% block body %}
    <h1>{{title}}</h1>
    <p>This tool is support scraping report from Next-Engine, Racoon and Amazon to Spreadsheet on Google Drive</p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Website</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>next-engine</td>
                <td>Comming soon</td>
                <td><button class="btn btn-primary next-engine" onclick="start('next-engine')">Start</button></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Racoon</td>
                <td>Comming soon</td>
                <td><button class="btn btn-primary" onclick="start('racoon')">Start</button></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Amazon</td>
                <td>Comming soon</td>
                <td><button class="btn btn-primary" onclick="start('amazon')">Start</button></td>
            </tr>
        </tbody>
    </table>

    <form id="code">
        <div class="form-group">
            <label for="loginCode">Login Code AMZ</label>
            <input type="text" class="form-control" id="loginCode" placeholder="Enter OPT code">
        </div>
        <button type="button" class="btn btn-primary" onclick="enterCode()">Submit</button>
    </form>


    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://localhost:3000');

        function start(website) {
            // alert('dsdf')
            // console.log(socket)
            socket.emit('startScraping', website)
        }

        function enterCode() {
            let code = document.querySelector('#loginCode').value
            socket.emit('enterCode', code)
        }
    </script>
{% endblock %}
